:root {
    --header-background: #fcfcfc;
    --header-font-color: #000;
    --border-color: #ebebec;
    --link-color: #568fff;
    --link-color-medium: #6799fb;
    --link-color-hover: #4880eb;
    --background: #fcfcfc;
    --text-header-color: #222;
    --text-color: #6f6f6f;
    --text-color-active: #111;
    --text-color-medium: #14171d;
    --icon-background: #e7eefc;
    --icon-color-medium: #568fff;
    --breadcrumbs-color: #818181;
    --breadcrumbs-active-color: #222;
    --breadcrumbs-color-hover: #222;
    --footer-background: #14171d;
    --app-btn-background: #e8effc;
    --app-btn-color: #4b88fd;
    --control-background: rgba(85,143,255,.12);
    --control-color: #558fff;
    --promo-background: rgba(227,236,252,.26);
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.1;
    background-color: var(--background);
    text-rendering: optimizeLegibility;
    margin-top: 11.8%;
}

h2 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

h3 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

label {
    cursor: default;
}

div {
    display: block;
    unicode-bidi: isolate;
}

h2, h3, div, label {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

div {
    box-sizing: border-box;
}

.m_container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 1.5rem;
    overflow: hidden;
}

.m_header {
    text-align: center;
    padding: 0 2rem;
}

.m_header>h2 {
    font-weight: 700;
    font-size: 2.7rem;
    line-height: 4rem;
    color: var(--text-header-color);
    margin-bottom: .4rem;
    letter-spacing: -.035rem;
}

.m_header>h3 {
    font-weight: 400;
    font-size: .95rem;
    line-height: 1.3rem;
    color: #666;
    max-width: 56rem;
    margin: 0 auto;
    padding-bottom: 1.2rem;
}

.f_container {
    height: 13rem;
    width: 100%;
    background: #fff;
    border: 2px dashed #d4d4d4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2.6rem;
    position: relative;
    border-radius: 2px;
}

.f_button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 8rem;
    padding: 0 1rem;
    height: 2.7rem;
    color: #fff;
    background: var(--link-color);
    border-radius: 6px;
    font-weight: 500;
    font-size: .875rem;
    outline: none;
    border: none;
    margin-bottom: 1rem;
    letter-spacing: .5px;
    transition: background .2s;
}

.f_label {
    display: block;
    font-weight: 400;
    font-size: .95rem;
    line-height: 1.3rem;
    color: var(--text-color);
    text-align: center;
    padding: 0 .5rem;
}

.f_input {
    width: 100%;
    opacity: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
}